.cover{
  width: 20rem;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start:3;
  grid-row-end:5;
  margin-left: 25%;
}

h1{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start:3;
  grid-row-end:3;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-left: -5%;
}

.icons{
  display: flex;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start:4;
  grid-row-end:6;
  gap: 1%;
  margin-top: -2%;
  margin-left: -5%;
}

.subtitle{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start:5;
  grid-row-end:7;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-left: -3%;
}

.icon{
  width: 15%;  
  height: 47%;
}

footer{
  padding: 5px 15%;
}

.footerRRSS{
  width: 35%;
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .cover{
    width: 10rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:7;
    grid-row-end:7;
  }

  h1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end:3;
    font-size: 2rem;
  }

  .icons{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:4;
    grid-row-end:4;
    gap: 5%;
  }

  .subtitle{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:5;
    grid-row-end:5;
    color: #FFFFFF;
    font-size: 1rem;
    margin-top: 3%;
  }

  .icon{
    width: 30%;  
    height: 100%;
  }

  footer{
    font-size: 0.6rem;
    padding: 1px 1%;
  }

  .iconRRSS{
    width: 10%;
  }

  .footerRRSS{
    width: 60%;
  }
}