@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #2F303A;
  font-family: 'Poppins';
}

.info{
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start:4;
  grid-row-end:5;
  margin-top: -10rem;
  z-index: 3;
}

.girl{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:4;
  grid-row-end:6;
  width: 20rem;
  margin-top: -14.2rem;
  z-index: 1;
  margin-left: 50%;
}

.header{
  font-family: 'Poppins';
}

.circle{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:4;
  border-radius: 50%;
  background: #303047;
  width: 400px;
  height: 400px;
  margin-top: 30%;
}

.circle-1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:4;
  grid-row-end:4;
  margin-left: 10%;
  border-radius: 50%;
  background: #412C41;
  width: 400px;
  height: 400px;
  margin-top: -21%;
}

.circle-2{
  grid-column-start: 9;
  grid-column-end: 9;
  grid-row-start:4;
  grid-row-end:6;
  width: 300px;
  height: 300px;
  border-radius: 100% 0 0 0;
  margin-top: -5rem;
  background: #303047;
}

.btn{
  padding: 3% 7%;
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .girl{
    width: 0px;
  }

  .circle {
    width: 100px;
    height: 100px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:6;
  }

  .circle-1{
    width: 100px;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end:6;
  }

  .circle-2{
    width: 100px;
    height: 100px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:9;
    grid-row-end:9;
  }

  .info{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start:5;
    grid-row-end:5;
    z-index: 3;
  }
  
}