*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #202027;
}