.Title{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start:4;
    grid-row-end:4;
    color: #FFFFFF;
    font-size: 4rem;
    margin-top: 7rem;
}

.FormSection{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start:4;
    grid-row-end:5;
    margin-left: -10%;
    background-color: #202027;
    height: 21rem;
    width: 25rem;
    border-radius: 10px;
}

form{
    padding-left: 12%;
    padding-top: 7%;
}

.P{
    color: #BC3A80;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .Container {
      grid-template-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .FormSection{
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start:5;
        grid-row-end:5;
        height: 21rem;
        width: 20rem;
        border-radius: 10px;
    }

    form{
        padding-left: 6%;
        padding-top: 5%;
    }

    .Title{
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start:2;
        grid-row-end:2;
        font-size: 3rem;
    }
}  
